// ---------- LAYOUT ----------


.tm-nav{
	z-index:500;
	@media (min-width: @breakpoint-medium) {
		#tm-logo-big{
			max-width:250px;
		}
	}
	@media (min-width: @breakpoint-large) {
		
		#tm-logo-big{
			max-width:none;
		}
	}

	.tm-social{
		a{
			margin-left: 1.4vw;
		}
		@media (min-width: @breakpoint-medium) {
			margin-left: 10vw;
		}
		@media (min-width: @breakpoint-large) {
			margin-left: 34vw;
		}
	}
}

// TODO : replace hard slide blue bg by secret sauce

.tm-bottom-a{
	@media (min-width: @breakpoint-medium){
		padding: @global-grid-gutter-large;
	}
	.tm-module{
		margin-top: @global-grid-gutter-large;

		@media (min-width: @breakpoint-medium) and (max-aspect-ratio:1/1) {
			width:50%;
		}
		@media (min-width: @breakpoint-medium) and (min-aspect-ratio:1/1) {
			margin-top: 0;
		}
		a{
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
		figcaption img{
			@media (min-width: @breakpoint-medium) and (min-aspect-ratio:1/1) and (max-width: @breakpoint-large){
				max-height: 40px;
			}
			
		}
		.uk-overlay-panel{
			padding-left: 50px;//fix content offset
		}
	}
}

.tm-footer{
	padding-right: @global-grid-gutter-large;
}

// ---------- TYPO ----------

// TODO : replace hard bg by overlay
// TODO : use flex component for alignement
.tm-module{

	font-family: ProximaBold;
	text-transform: uppercase;
	@media (min-width: @breakpoint-large) {
		p{
			font-size:20px;
		}
	}
	img:after{
		content:'';
		position: absolute;
		top:0;
		bottom: 0;
		left: 0;
		right:0;
		background-color: rgba(0, 0, 0, 0.5);
	}
}

// ---------- STYLE ----------

.tm-top-a{
	box-shadow: 0px 0px 10px 0px #656565;
}


.tm-footer{
	box-shadow:0px -5px 10px 0px rgba(0,0,0,0.1);
}

.tm-social{
	a:hover{
		opacity: 0.8;
	}
}